$tablet-width: 768px;
$desktop-width: 1280px;

$primary-colors-1: #323232;
$primary-colors-2: #AFAFAF;
$primary-colors-3: #FFFFFF;

$secondary-colors-1: #000000;
$secondary-colors-2: #E1E1E1;
$secondary-colors-3: #FAFAFA;


$padding-xl: 4.8rem;
$padding-l: 3.6rem;
$padding-m: 2.4rem;
$padding-s: 1.6rem;
$padding-xs: 0.8rem;