@use "partials/fonts" as *;
@use "partials/mixins" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "AvenirNext LT Pro", sans-serif;
    font-weight: 400;
}

.header {
    background-color: $primary-colors-1;
    text-align: center;
    padding-top: 2rem;

    @include tablet {
        display: flex;
        height: 10rem;
        align-items: baseline;
        padding: 0 $padding-l;
        padding-top: $padding-m;
    }

    @include desktop {
        display: flex;
        height: 12rem;
        align-items: baseline;
        padding: 0rem 12rem;
        padding-top: 3.6rem;
    }

    &__logo {
        max-height: 2rem;
        max-width: 12rem;
    }

    &__item {
        padding: $padding-xs 0;

        &.selected {
            border-bottom: 5px solid $primary-colors-3;
            .header__item-text {
                font-weight: 600;
                color: $primary-colors-3;
            }
        }
        &:hover {
            .header__item-text {
                color: $primary-colors-3;
                font-weight: 400;
            }
            border-bottom: 5px solid $primary-colors-3;
        }
    }

    &__items {
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr 1fr;

        @include tablet {
            grid-template-columns: auto auto;
            grid-gap: 4.8rem;
            padding-left: $padding-xl;
            height: 100%;
        }
    }

    &__item-text {
        @include subheader;
        font-weight: 400;
        color: $secondary-colors-2;
        text-decoration: none;
    }

    &__nav {
        @include tablet {
            height: 100%;
        }
    }
}

.top {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/hero-bio.jpg);
    background-size: cover;
    height: 42rem;
    display: flex;
    align-items: center;
    padding: 0 $padding-s;

    @include tablet {
        padding: 0 $padding-l;
    }

    @include desktop {
        padding: 0 12rem;
        height: 75vh;
    }

    &__text {
        @include page-header;
        color: $primary-colors-3;
    }
}

.main {
    padding: 0 $padding-s;
    @include tablet {
        padding: $padding-xl $padding-l;
    }

    @include desktop {
        padding: 0rem 12rem;
        padding-top: $padding-xl;
    }

    &__text-container {
        @include tablet {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            grid-column-gap: 2.4rem;
        }
    }

    &__content {
        @include tablet {
            padding: $padding-xl $padding-l;
        }

        @include desktop {
            padding: $padding-xl 12rem;
        }
    }
    &__header {
        @include section-header;
        color: $secondary-colors-1;
        padding: 2.4rem 0 1.6rem 0;

        @include tablet {
            padding: 0;
        }
    }

    &__photo {
        width: 100%;
    }

    &__text {
        @include subheader;
        color: $secondary-colors-1;
        padding-top: $padding-s;
    }

    &__text-top {
        @include subheader;
        color: $secondary-colors-1;
        padding-top: $padding-xs;
    }

    &__text-bottom {
        @include subheader;
        color: $secondary-colors-1;
        padding: $padding-m 0;
    }

    &__text-left {
        @include body-copy;
        color: $secondary-colors-1;

        @include desktop {
            font-size: 1.8rem;
            line-height: 2.5rem;
        }
    }

    &__text-right {
        @include body-copy;
        color: $secondary-colors-1;
        padding: $padding-s 0;

        @include desktop {
            font-size: 1.8rem;
            line-height: 2.5rem;
        }
    }
}

.gallery {
    background-color: $secondary-colors-3;
    padding: 0 $padding-s;
    @include tablet {
        padding: $padding-xl $padding-l;
    }

    @include desktop {
        padding: $padding-l 12rem;
    }

    &__photos {
        @include tablet {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 2.4rem;
        }
    }

    &__text {
        @include section-header;
        font-weight: 600;
        color: $secondary-colors-1;
        padding: $padding-m 0 $padding-s 0;

        @include desktop {
            padding-bottom: $padding-l;
        }
    }

    &__photo {
        width: 100%;
        padding-bottom: $padding-s;
    }
}

.footer {
    background-color: $primary-colors-1;
    padding: 0 $padding-s;

    @include desktop {
        padding: 0 8.5rem;
    }

    &__content {
        @include tablet {
            display: grid;
            grid-template-columns: 1fr 1fr 0fr;
            align-items: baseline;
            padding: $padding-xl $padding-l;
        }

        @include desktop {
            grid-template-columns: 0.6fr 1fr 0fr;
        }
    }

    &__container {
        @include tablet {
            padding: 0 $padding-l;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 2.4rem;
            align-items: center;
        }
    }

    &__header-left {
        @include section-header;
        font-weight: 600;
        color: $primary-colors-3;
        padding: 2.4rem 0 1.6rem 0;
    }

    &__container-top {
        @include footer-copy;
        font-weight: 500;
        color: $primary-colors-3;
    }

    &__container-middle {
        @include footer-copy;
        color: $primary-colors-3;
        padding: $padding-s 0;
    }

    &__container-bottom {
        @include footer-copy;
        color: $primary-colors-3;
        padding-bottom: $padding-s;
    }

    &__bottom {
        @include footer-copy;
        color: $primary-colors-3;
        padding: $padding-s 0;
        @include tablet {
            padding: $padding-xl $padding-l;
        }
    }

    &__icons {
        padding-bottom: $padding-s;
    }

    &__icon {
        padding-right: 3rem;
        @include tablet {
            transform: scale(1.5);
        }
    }

    &__logo {
        padding-top: $padding-xl;
    }

    &__logo-mobile {
        display: block;
        @include tablet {
            display: none;
        }
    }

    &__logo-tablet {
        display: none;
        @include tablet {
            display: block;
        }
    }
}

.error {
    border: 2px solid #d22d2d;
}

.comment {
    padding: 0 $padding-s;
    @include tablet {
        padding: $padding-xl $padding-l;
    }

    @include desktop {
        padding: 0rem 12rem;
        padding-top: $padding-xl;
    }
    &__text {
        @include section-header;
        color: $secondary-colors-1;
        padding: 2.4rem 0 1.6rem 0;

        @include tablet {
            padding: 0;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 2rem;
        width: 100%;
    }

    &__button {
        background-color: $primary-colors-1;
        color: $primary-colors-3;
        padding: 0rem 3.2rem;
        border-radius: 4px;
        font-weight: 600;
        height: 4rem;
        outline: none;
        border: none;
        width: 100%;
        margin-bottom: 2rem;
        cursor: pointer;
        @include tablet {
            width: 15rem;
            padding: 0 3.2rem;
            position: relative;
            left: calc(100% - 15rem);
        }
        @include desktop {
            width: 15rem;
            padding: 0 3.2rem;
            position: relative;
            left: calc(100% - 15rem);
        }

        &:hover {
            background-color: $secondary-colors-1;
        }
    }

    &__label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 2rem;
    }

    &__input {
        width: 100%;
        min-height: 3.6rem;
        border-radius: 4px;
        padding: 1.2rem;
        margin-top: 0.4rem;
        border: 1px solid $secondary-colors-2;
        background-color: $secondary-colors-3;
        font-family: "AvenirNext LT Pro", sans-serif;
        font-size: 1.5rem;

        &:active {
            border: 1px solid $secondary-colors-1;
            outline: $secondary-colors-1;
        }
    }

    &__photo {
        width: 3.6rem;
        height: 3.6rem;
        border-radius: 50%;
        margin-top: 2.4rem;
    }

    &__label-text {
        color: $primary-colors-2;
        font-size: 1.5rem;
        font-weight: 500;
    }

    &__container {
        display: flex;

        @include tablet {
            padding: 3.6rem 3.6rem 0 3.6rem;
        }

        @include desktop {
            padding: 4.8rem 20rem 0 20rem;
        }
    }

    &-photo {
        width: 3.6rem;
        height: 3.6rem;
        border-radius: 50%;
        background-color: $secondary-colors-2;
        flex-shrink: 0;
        margin-right: 2rem;
    }

    &-element {
        margin: 1rem 0;
        border-bottom: 1px solid #e1e1e1;
        padding-bottom: 1rem;
        display: flex;
        &:first-of-type {
            border-top: 1px solid #e1e1e1;
            padding-top: 1rem;
        }
    }

    &-header {
        display: flex;
        justify-content: space-between;
    }

    &-name {
        font-weight: 500;
        font-size: 1.5rem;
    }

    &-date {
        font-size: 1.5rem;
        color: $primary-colors-2;
    }

    &-paragraph {
        font-size: 1.5rem;
        padding-top: 1rem;
    }

    &__section {
        @include tablet {
            padding: 0 3.6rem;
        }
        @include desktop {
            padding: 0 20rem 3.6rem 20rem;
        }
    }
}
